?- change user balance and complete date after - screenleap.onScreenShareEnd()

?-
page to dl the vids? 
only if video >1 minute

-cakewalk.io hi@cakewalk.io
-design: start page, add a thing next to recording now button that says dont forget to turn off screenshare
-send to adriano and low key homies for feedback
---
-copy text
-how it works (on home page)
-custom tasks?
-html5 video, css animations
-copy button


					screenleap.onScreenShareEnd = function() {
						var element = document.getElementById("something");
						element.innerHTML = "Screen Recording Ended";
						element.className = "btn redplanbutton";
						//update user balance
					    $.ajax({
					    	url: "users/decrementbalance",
					    	type: 'POST'
					    	success: function () {
		                    // it worked!  
		                	}
						});
			      		//update complete_date
					    };




					screenleap.onScreenShareEnd = function() {
						var element = document.getElementById("something");
						element.innerHTML = "Screen Recording Ended";
						element.className = "btn redplanbutton";
						//update user balance
					    var userBalance = <%= @test.user.balance %>
			      		userBalance--;
			      		//update complete_date
					    };



whats a cakewalk?
a cakewalk is a bite sized user test.


<%= form_for @current_user, url: chargeforone_tests_path, method: 'POST' do %>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="1 User Test"
          data-amount="2500"
          data-email="<%= current_user.email %>">
  </script>
<% end %>




"You just bought #{pluralize(params[:plan], 'credit'}."






<a href=“<%= static_home_path %>” class=“cakewalk”>cakewalk<span id=“pink”>.io</span></a></div>
  </div>

<p class="cakewalk">cakewalk<span class="pink">.io</span></p>



      <div class="navbar-brand"><%= image_tag("walkingcake.png", class: "logo") %>  <%= link_to "cakewalk.io", static_home_path, class: 'cakewalk' %></div>





          <div class="navbar-brand"><%= image_tag("walkingcake.png", class: "logo") %>  
       <span class="cakewalk">cakewalk</span><span class="pink">.io</span>
    </div>





