	<% if signed_in? && current_user.admin? %>
		</br></br><p>Admin priviledges.</p>
		<!-- list of all users.pending_expert? -->
		<% @allusers.each do |f| %>
			</br>Email: <%= f.email %>
			</br>User ID: <%= f.id %>
			</br>Sign in count: <%= f.sign_in_count %>
			</br>Balance: <%= f.balance %>
			</br>CW URLs Count: <%= f.tests.all.count %>
			<!--
				</br>Recordings Complete Count: -->
			</br></br></br>
		<% end %>
	<% else %>
	<h1>Page not found.</h1>
	<% end %>