<%= link_to 'Get all screen shares', admin_screen_shares_path ,class: 'btn btn-default' %>
<%= link_to 'Get all screen share events', admin_screen_share_events_path, class: 'btn btn-default' %>

<table class="table">
  <thead>
  <tr>
    <th>URL</th>
    <th>Recording Id</th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @screen_shares.each do |item| -%>
    <tr>
      <td><%= item.test.url %></td>
      <td><%= item.recording_id %></td>
      <td><%= item.created_at.to_s(:short) %></td>
      <td><%= link_to 'show', admin_screen_share_events_path(id: item.id) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>

<%= will_paginate @screen_shares %>
