<% if signed_in? && current_user.admin? %>
	You're an admin.</br>
<% end %>
<% if signed_in? %>
<div class="container">	</br></br></br></br>
	<!-- field user enters their URL, its shortened saved to User.cwurl -->
	<%= form_for(@url) do |f| %>
		<div class="input-group">
			<%= f.text_field :url, :placeholder => "URL you want to user test", class: "form-control input-lg" %>
			<span class="input-group-btn">
				<%= f.submit "pewpewpew", class: "btn btn-danger" %>
			</span>
		</div>
			<div class="account-balance">
				</br>You have <%= pluralize(current_user.balance, 'user test') %> left.   <%= link_to "Get More", upgrade_tests_path %></br></br>
			</div>
				<% if @url.errors.any? %>
				   <ul class="alert alert-danger">
				   	<% @url.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				   </ul>
				<% end %>
	<% end %>
</br></br></br></br></br></br>
	<% @userurls.each do |f| %> <!-- %= would display array as well --> 
		<div class="span7 text-center">
			<div class="glyphicon glyphicon-flash pinkdot"></div>
			<div class="row">
				<div class="col-md-8 text-left">
					<h7><%= f.url %></h7> <!-- add a copy button -->
					<h6><%= "http://localhost:3000/tests/#{f.cwurl}/start" %></h6></br></br>
				</div>
				<div class="col-md-4">	
					<%= link_to new_user_registration_path, class: "btn btn-hollow-small" do %>
						<i class= "glyphicon glyphicon-film"> tests</i>
					<% end %>
					<%= link_to new_user_registration_path, class: "btn btn-hollow-small" do %>
						<i class= "glyphicon glyphicon-copy"> copy</i>
					<% end %>
				</div>
			</div>

		</div>
	<% end %>
</div><!-- end container -->
<% end %>
<% unless signed_in? %>
<div class="notloggedinphoto">
	<div class="container">		
		<h1 class="h1home">Make your web app easy to use before you launch</h1>
			<h2 class="h2home">Pre-launch user testing with a handful of your existing users and team</h2>
			<p><div class="span7 text-center"><%= link_to "Run a Free User Test", new_user_registration_path, class: "btn btn-hollow" %></div></p>		
	</div>	
</div>
<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1 class="paragraphbody">
						Capture users’ screens and feedback the first time they use your product
					</h1>
				</div><!--end col-md-4 -->

				<div class="col-md-4">
					<h1 class="paragraphbody">
						Discover user onboarding sticking points before your big launch
					</h1>
				</div><!--end col-md-4 -->


				<div class="col-md-4">
					<h1 class="paragraphbody">
						Catch usability bugs for new features before rolling it out to all your users
					</h1>
				</div><!--end col-md-4 -->
			</div><!--end div row-->
</div>
<% end %>