<% if signed_in? && current_user.admin? %>
	You're an admin.</br>
<% end %>
<% if signed_in? %>
	<%= current_user.email %>, you have <%= pluralize(current_user.balance, 'user test') %> remaining.   <%= link_to "Upgrade Account", upgrade_tests_path %></br></br>
	<!-- field user enters their URL, its shortened saved to User.cwurl -->
	<%= form_for(@url) do |f| %>
		<%= f.text_field :url %>
		<%= f.submit "Go!" %>
			<% if @url.errors.any? %>
			   <ul class="alert alert-danger">
			   	<% @url.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
			   </ul>
			<% end %>
	<% end %>
</br></br>
	<% @userurls.each do |f| %> <!-- %= would display array as well --> 
		<h7><%= "http://localhost:3000/tests/#{f.cwurl}/start" %></h7> <!-- add a copy button -->
		<h6><%= f.url %></br></h6></br></br>
	<% end %>
<% else %>
	<h1>Fastest way to gather early user feedback on new features and products</h1>
	<h2>Pre-launch and private beta user testing with your own customers and team.</h2>
<% end %>