<% if signed_in? && current_user.admin? %>
	You're an admin.</br>
<% end %>
<% if signed_in? %>
<div class="container">	</br></br></br></br>
	<!-- field user enters their URL, its shortened saved to User.cwurl -->
	<%= form_for(@url) do |f| %>
		<div class="input-group">
			<%= f.text_field :url, :placeholder => "URL you want to user test", class: "form-control input-lg" %>
			<span class="input-group-btn">
				<%= f.submit "pewpewpew", class: "btn btn-danger" %>
			</span>
		</div>
			<div class="account-balance">
				</br>You have <%= pluralize(current_user.balance, 'cakewalk') %> left.   <%= link_to "Get More", upgrade_tests_path %></br></br>
			</div>
				<% if @url.errors.any? %>
				   <ul class="alert alert-danger">
				   	<% @url.errors.full_messages.each do |msg| %>
				      <li><%= msg %></li>
				    <% end %>
				   </ul>
				<% end %>
	<% end %>
</br></br></br></br></br></br>
	<% @userurls.each do |f| %> <!-- %= would display array as well --> 
		<div class="span7 text-center">
			<div class="glyphicon glyphicon-flash pinkdot"></div>
			<div class="row">
				<div class="col-md-9 text-left">
					<h7><%= f.url %></h7> <!-- add a copy button -->
					<h6 class="text">Cakewalk link: <% if Rails.env.development? %><%= "http://localhost:3000/tests/#{f.cwurl}/start" %><% else %><%= "https://protected-plateau-6103.herokuapp.com/tests/#{f.cwurl}/start" %><% end %></h6></br></br>
				</div>
				<div class="col-md-3">	
					<%= link_to results_test_path(f), class: "btn btn-hollow-big" do %>
						<i class= "glyphicon glyphicon-film">  results</i>
					<% end %>
					<!--<%= link_to "#", class: "btn btn-hollow-small copy", id: "copy" do %> <!-- when u put this back, change col-md's to col-md-8, and col-md-4 
						<i class= "glyphicon glyphicon-copy"> copy</i>
					<% end %>-->
					<!--<a href="" id="copy" class="btn btn-hollow-small"><i class= "glyphicon glyphicon-copy"> copy</i></a>--></br>
				</div>

				<!-- 2 bugs: prompt keeps appearing on OK, copy button always prompts the first link in dashboard: attach a listener to each button -->
				<!--<script type="text/javascript">
				$('.copy').click(function(){
					//alert("hi");
					//var text = document.getElementById("text");
					text = $('.text').text();
  					window.prompt("Copy Cakewalk link: cmd+c/ctrl+c, Enter", text);
 					return;
				});
				</script>-->
			</div>

		</div>
	<% end %>
</div><!-- end container -->
<% end %>
<% unless signed_in? %>
<div class="notloggedinphoto">
	<div class="container">		
		<h1 class="h1home">Make your web app easy to use before you launch</h1>
			<h2 class="h2home">Bite-sized user tests with your users and team so that you can move fast</h2>
			<p><div class="span7 text-center"><%= link_to "Run a Free User Test", new_user_registration_path, class: "btn btn-hollow" %></div></p>		
	</div>	
</div>
<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1 class="paragraphbody">
						Capture users’ screens the first time they use your product or feature
					</h1>
				</div><!--end col-md-4 -->

				<div class="col-md-4">
					<h1 class="paragraphbody">
						Increase conversions by discovering user onboarding sticking points pre-launch
					</h1>
				</div><!--end col-md-4 -->


				<div class="col-md-4">
					<h1 class="paragraphbody">
						Increase retention by catching usability bugs for new features before rolling it out to all your users
					</h1>
				</div><!--end col-md-4 -->
			</div><!--end div row-->
</div>
<% end %>
