<!--<h1 class="h1results"><%= @currentfile.url %> results</h1>-->
</br></br></br>
<% if @files.blank? %>
	<h2 class="h2results">When your recorded user tests for <%= @currentfile.url %> have been processed, you'll get an email.</h2>
	<h2 class="h3results">(You shared your Cakewalk URL with testers, right?)</h2>
	</br></br></br></br></br></br></br></br></br></br></br>
	<div class="results">Meanwhile, checkout the <a href="http://www.reddit.com/r/CrappyDesign/" target="_blank">bad UX Reddit thread.</a></div>
	</br></br></br></br></br></br></br></br></br></br></br></br>
<% else %>
	<h2 class="h2results">You Cakewalk recordings for <%= @currentfile.url %> are ready to download!</h2>
	<h2 class="h3results">Download them before the links expire (once we're out of beta, we'll save them for you).</h3></br></br></br></br>
	<ul>
		<div class="results">
		  <% @filesordered.each do |file | -%>
		    <%= link_to "Recording ID#{file.screen_share_event_id}", file.url %>
		    <!--<%= file.created_at.to_s(:short) %>-->
		    Link expires: <%= file.created_at+7.day %> <!-- format time --></br></br>
		  <% end %>
		</div>
	</ul>
<% end %>