<div class="container">
	<% if @test.user.balance > 0 %>
		<div class="span7 text-center"></br></br></br></br>
			<h4>Help <%= @test.url %> work out kinks and become easier to use.</h4>
			</br></br>
		</div>
			<h4 class="smaller">Click below (it'll record your screen), then navigate to <%= @test.url %> to:
        <ul>
          <li>create a new account</li>
          <li>use its main feature</li>
        </ul>
			</h4>

			<script type="text/javascript" src="https://api.screenleap.com/js/screenleap.js"></script> <!-- change from http to https for heroku -->

    <div class="span7 text-center">
				<a href="" id="something" class="btn planbutton">Record Screen</a></br>
				<a href="<%= @test.url %>" id="goto"  target="_blank"></a> <!-- having "#{...}" made url stick to end of localhost -->
			</div>

			<script type="text/javascript">
			  $('#something').click(function(e){
			      function onNativeDownloadStartCallback(){
			          console.log('Explaining how to download');
			      }

            var screenShareData = <%= @screen_share_data.to_json.html_safe %>;
            screenleap.startSharing('EXTENSION', screenShareData , {
                nativeDownloadStarting: onNativeDownloadStartCallback
            });

            screenleap.onScreenShareStart = function() {  //make it flash slowly
                var element = document.getElementById("something");
                var link = document.getElementById("goto");
                element.innerHTML = "Screen Recording in Progress";
                element.className = "btn redplanbutton";
                link.innerHTML = "<%= @test.url %>";
            };

			screenleap.onScreenShareEnd = function() {
						console.log("screen share end");
						var element = document.getElementById("something");
						element.innerHTML = "Screen Recording Ended";
						element.className = "btn redplanbutton";
						//update user balance
					    $.ajax({
					    	url: "<%= decrementbalance_tests_path %>",
					        type: 'PUT',
					    	dataType: 'json',
					    	data: {id: <%= @test.id %>}
						}).done(function( msg ) {
							console.log('got it');
						    $( "#log" ).html( msg );
						}).fail(function( jqXHR, textStatus ) {
							console.log('ops');
						  	alert( "Request failed: " + textStatus );
						});
			      		//update complete_date
					};
					
			      e.preventDefault();
			  });
			</script>
	<% else %>
	Please contact <%= @test.user.email %>. They don't have enough credit to conduct this cakewalk.
	<% end %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</div>
