<div class="container">
	<% if @test.user.balance > 0 %>
		<div class="span7 text-center">
			<h4>Help <%= @test.url %> work out kinks and become easier to use by clicking below.</h4>
			</br></br>
		</div>
			<h4 class="smaller">Click below (it'll record your screen), then navigate to <%= @test.url %> to:
			<ul>
				<li>create a new account</li>
				<li>use what you consider to be its main feature</li></br></br>
			</h4>


			<script type="text/javascript" src="https://api.screenleap.com/js/screenleap.js"></script> <!-- change from http to https for heroku -->
			<div class="span7 text-center">
				<a href="" id="something" class="btn planbutton">Start Recording Screen</a></br>
				<a href="<%= @test.url %>" id="goto"  target="_blank"></a> <!-- having "#{...}" made url stick to end of localhost -->
			</div>

			<script type="text/javascript">
			  $('#something').click(function(e){
			      function onNativeDownloadStartCallback(){
			          console.log('Explaining how to download');
			      }


			          var screenShareData = <%= @screenShareData.to_json.html_safe %>;
			          screenleap.startSharing('EXTENSION', screenShareData , {
			              nativeDownloadStarting: onNativeDownloadStartCallback
			          });

					screenleap.onScreenShareStart = function() {
				    	var element = document.getElementById("something");
				    	var link = document.getElementById("goto");
						element.innerHTML = "Screen Recording in Progress";
						link.innerHTML = "<%= @test.url %>";
				    };

					screenleap.onScreenShareEnd = function() {
						var element = document.getElementById("something");
						element.innerHTML = "Screen Recording Ended";
						//update user balance
					    var userBalance = <%= @test.user.balance %>
			      		userBalance--;
			      		//update complete_date
					    };
					
			      e.preventDefault();
			  });
			</script>

		
			  <% @screenShareData %>


	<% else %>
	Please contact <%= @test.user.email %>. They don't have enough credit to conduct this user test.
	<% end %>
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</div>